#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.8rem;
}

.cell  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: blueviolet;
    color: gold;
    aspect-ratio: 1;
}

